.containerHomePageConnection {
  background-color: var(--secondary-color);
  width: 35%;
  height: 65%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media (width < 767px) {
    width: 80%;
  }
}
