.containerButtonConnection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .buttonConnection {
    background-color: var(--main-color);
    color: #fff;
    width: 115px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
}

.buttonConnection:hover {
  background-color: brown;
}
