.containerSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 35px;

  .searchBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    input {
      height: 25px;
      width: 80%;
      background-color: var(--secondary-color);
      border: none;
      border-radius: 50px;
      outline: none;
      padding: 5px 35px 5px 10px;

      @media (width < 767px) {
        width: 95%;
      }
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 5px var(--main-color);
      border: 1px solid #555;
    }

    .chevronDown {
      cursor: pointer;
      position: absolute;
      right: 70px;
      pointer-events: pointer;

      @media (width < 767px) {
        right: 10px;
      }
    }
  }
}
