.detailsKeyTop {
  height: 30%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

  @media (width < 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .buttonsDetailsKeyTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (width < 767px) {
      gap: 20px;
    }
  }
}

.allActionButton {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;

  div {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (width <767px) {
      margin-bottom: 30px;
    }
  }

  @media (width < 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .verticalLigne {

    @media (width <767px) {
      display: none;
    }
  }
}
